body{
    font-family: "plus-jakarta-Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/*Navbar*/
.navbar {
    height: 5rem;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* FOoter */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-brand,
.f-info-socials{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/*Cards*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;    
}

.card-text{
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/*Card Effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*Edit*/
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*Show*/
.show-img{
    height: 30vh;
}

/*Map*/

#map{
    height: 400px !important;
    width: 100%;
    border-radius: 1rem;
}       

/*Filters*/
.filters {
  overflow-x: auto;
  white-space: nowrap;
  /* scrollbar-width: none; */
  gap: 0.1em;
  margin-top: 10px;
  padding-top: 10px;
  align-items: center;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
  cursor: pointer;
  transition: all 0.2s ease;
  margin : 0 8px;
  padding: 1px;
}

.filter:hover {
  color: black;
}

.filter.active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.filter i {
  font-size: 15px;
  margin-bottom: 2px;
}

.filter p {
  margin: 0;
  font-size: 1 rem;
}

.tax-info{
    display: none;
    font-size: 1rem;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
   
}
